@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


:root{
    --branco: #FFFFFF;
    --verde2: #429237;
    --cinza: #313131;
    --rosa: #E04CA3;
    --verde: #6FFF57;
    --botao1:rgba(51, 255, 0, 0.78);
    --botao-ativo:rgba(0, 255, 242, 0.842);
    --preto:rgb(0, 0, 0);
}
body{
    background-color: var(--preto);
    color: var(--branco);
    font-family: 'Embed code', 'Sans-Serif';
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 45px;
}
.titulo-principal span{
    color: var(--verde);
}
.botao{
    font-family: 'Embed code', Sans-Serif;
    background-color: var(--cinza);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao1);
    border-left: 2px solid var(--botao1);
    border-right: 2px solid var(--botao1);
    border-top: none;
}
.botao:first-child{
    border-radius: 40px 40px 0 0;
}
.botoes{
    display: block;
}
.ativo{
    background-color: var(--botao1);
    border-bottom: 4px solid var(--verde);
}
.abas-textos{
    background-color: var(--cinza);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
.aba-conteudo.ativo{
    display: block;
}
.aba-conteudo{
    display: none;
}
.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}
.aba-conteudo-titulo-segundario{
    text-align: center;
    color: var(--cinza);
    text-transform: uppercase;
}
@media screen and (min-width: 768px){
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}
