@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Updock&display=swap');

:root{
    --cor-texto: #ffffff;
    --cor-fundo: #000000;
    --cor-secundaria: #646464;
    --cor-verde: #33ff00;
    --cor-preta: #000000;
    --font: "Updock", cursive;

}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-preta);
    font-family: var(--font);
}
header{
    background-color: var(--cor-texto);
    text-align: center;
}
h1{
    font-size:2rem;
    color: var(--cor-preta);
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    color: var(--cor-preta);
    margin: 0 2rem 1rem 0;
    font-size: 1.2rem;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-secundaria);
    color: var(--cor-preta);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
}